* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e8eee9;
}

/*Header*/

header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(49, 47, 47);
    
}

header h1 {
    display: inline-block;
    font-size: 48px;
    border: 1px solid rgb(49, 47, 47);
    padding-right: 10px;
    padding-left: 70px;
    margin-left: -20px;
    background: rgb(209, 122, 51);
    color: rgb(49, 47, 47);
}


/* Navbar */

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: rgb(209, 122, 51);
    text-decoration: none;
    border-bottom: 2px solid rgb(209, 122, 51);
}

nav, ul, li a:hover {
    border-bottom: 1px;
    color: white;
}

nav, ul, li a:hover {
    color: white;
}

/* Banner with Caption */
/* Photo by Oleg Magni from Pexels */
.banner {
    position: relative;
    display: block;
    width: 100%;
}

.banner-image {
    display: block;
    width: 100%;
    height: 260px;
}

/* Subtitle */

.banner h2 {
    position: absolute;
    bottom: 15px;
    right: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    border: 1px solid rgb(209, 122, 51);
    background: rgb(209, 122, 51);
    color: rgb(49, 47, 47);
    padding: 5px;
}

/* Main */

main {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap:1em;
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Left Side Column */

.left-side {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align:end;
    margin-right: 45px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
}

.about {
    flex: 0.38;
    border-right: 3px solid rgb(49, 47, 47);
    padding-right: 10px;
}

.work {
    flex: 2;
    border-right: 3px solid rgb(49, 47, 47);
    padding-right: 10px;
    margin-top:40px;

}

.contact {
    flex: 0.1;
    border-right: 3px solid rgb(49, 47, 47);
    padding-right: 10px;
    margin-top: 40px;
}





/* .left-side {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    padding-right: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 25px;
    margin-bottom: 40px;
    padding-left: 70px;
}

.about {
    padding-left: 115px;
    margin-bottom: 20px;
    border-right: 3px solid rgb(49, 47, 47);
    padding-bottom: 160px;
}

.work {
    padding-left: 127px;
    margin-bottom: 20px;
    border-right: 3px solid rgb(49, 47, 47);
    padding-bottom: 800px;
    margin-top: 8px;

}

.contact {
    padding-left: 85px;
    margin-bottom: 10px;
    border-right: 3px solid rgb(49, 47, 47);
    padding-bottom: 10px;
    margin-top:8px;
} */

/* Right Side Column */

.right-side {
    margin-right: 45px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.paragraphs {
    line-height: 1.5em;
    margin-bottom: 20px;
}

.paragraph2 {
    padding-bottom: 10px;
}

/* Large Project Image */

.surf {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 5px;
}

.surf-image {
    display:block;
    width: 100%;
    height: 400px;
    border: 3px solid rgb(209, 122, 51);
}

.surf h3 {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 40px;
    left: 15px;
    font-size: 20px;
    font-weight:bold;
    background:rgb(209, 122, 51)
    
}

.surf p {
    position: absolute;
    bottom: 25px;
    left: 15px;
    font-size: small;
}

/* Small Project Images */

.small-projects {
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

.calculator {
    position: relative;
    width: 100%;
}

.calculator h3 {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 50px;
    left: 15px;
    font-size: 20px;
    font-weight:bold;
    background:rgb(209, 122, 51)
}

.calculator p {
    position: absolute;
    bottom: 50px;
    left: 15px;
    font-size: small;
}

.calculator-image {
    display: block;
    width: 100%;
    height: 200px;
    border: 3px solid rgb(209, 122, 51);
}

.puzzle {
    position: relative;
    width: 100%;
}

.puzzle h3 {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 50px;
    left: 15px;
    font-size: 20px;
    font-weight:bold;
    background:rgb(209, 122, 51)
}
.puzzle p {
    position: absolute;
    bottom: 50px;
    left: 15px;
    font-size: small;
}

.puzzle-image {
    display: block;
    width: 100%;
    height: 200px;
    border: 3px solid rgb(209, 122, 51);
}

.run {
    position: relative;
    width: 100%;
}

.run h3 {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 50px;
    left: 15px;
    font-size: 20px;
    font-weight:bold;
    background:rgb(209, 122, 51)
}

.run p {
    position: absolute;
    bottom: 50px;
    left: 15px;
    font-size: small;
}

.run-image {
    display: block;
    width: 100%;
    height: 200px;
    border: 3px solid rgb(209, 122, 51);
}

.LED {
    position: relative;
    width: 100%;
}

.LED h3 {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 50px;
    left: 15px;
    font-size: 20px;
    font-weight:bold;
    background:rgb(209, 122, 51)
}

.LED p {
    position: absolute;
    bottom: 50px;
    left: 15px;
    font-size: small;
}

.LED-image {
    display: block;
    width: 100%;
    height: 200px;
    border: 3px solid rgb(209, 122, 51);
}

/* Contact Info */

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.phone-number {
    border-bottom: 2px solid rgb(209, 122, 51);
}

.email {
    border-bottom: 2px solid rgb(209, 122, 51);
}

.github {
    border-bottom: 2px solid rgb(209, 122, 51);
    
}

.twitter {
    border-bottom: 2px solid rgb(209, 122, 51);
    
}

.spotify {
    border-bottom: 2px solid rgb(209, 122, 51);
    
}